<launch>

  <!-- 1) gmapping: build map from LIMO scan+odom -->
  <!-- <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="3.0"/>
    <param name="maxUrange" value="15.0"/>
    <remap from="/scan" to="/limo/scan"/>
  </node> -->

  <!-- SLAM Toolbox (ROS1 wrapper) -->
  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
    
     <!-- Frame params  -->
    <param name="odom_frame" value="odom"/>
    <param name="map_frame" value="map"/>
    <param name="base_frame" value="base_link"/>

     <!-- Lidar topic  -->
    <remap from="/scan" to="/limo/scan"/>

     <!-- Core SLAM tuning  -->
    <param name="use_scan_matching" value="true"/>
    <param name="use_scan_barycenter" value="true"/>
    <param name="minimum_travel_distance" value="0.1"/>
    <param name="minimum_travel_heading" value="0.1"/>

     <!-- Map resolution + behavior  -->
    <param name="resolution" value="0.05"/>
    <param name="max_laser_range" value="12.0"/>
    <param name="minimum_time_interval" value="0.5"/>

     <!-- Loop closure  -->
    <param name="enable_loop_closure" value="true"/>
    <param name="loop_search_radius" value="8.0"/>
    <param name="loop_match_min_chain_size" value="10"/>
    <param name="loop_match_max_variance_coarse" value="3.0"/>

  </node>


  <!-- 2) move_base: path planning -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <remap from="/scan" to="/limo/scan"/>
      <rosparam file="$(find limo_explore)/config/move_base.yaml" command="load" />
      <rosparam file="$(find limo_explore)/config/costmap_common.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find limo_explore)/config/costmap_common.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find limo_explore)/config/global_costmap.yaml" command="load" />
      <rosparam file="$(find limo_explore)/config/local_costmap.yaml" command="load" />
      <rosparam file="$(find limo_explore)/config/planner_global.yaml" command="load" />
      <rosparam file="$(find limo_explore)/config/planner_local.yaml" command="load" />
  </node>

  <!-- 3) explore_lite: frontier generator -->
  <!-- <node pkg="explore_lite" type="explore" respawn="true" name="explore" output="screen">
      <rosparam file="$(find limo_explore)/config/exploration.yaml" command="load" />
  </node> -->
  
</launch>
